# EXTENSIONS
*.BACKUP.*
*_BACKUP_*
*.BASE.*
*_BASE_*
*.docstates
*.include.css
*.include.min.css
*.generated.js
*.generated.js.map
*.LOCAL.*
*_LOCAL_*
*.lock.json
*.nupkg
*.orig
*.REMOTE.*
*_REMOTE_*
*.rej
*.sln.iml
*.suo
*.user
*.vs

# DIRECTORIES
**/.git/
**/.npm/
**/.vscode/
**/_Artifacts/
**/_Build*
**/_ReSharper.Caches/
**/Api.SwaggerGenerator/public/
**/bin/
**/JavascriptTestResults/
**/NDepend/NDependOutput/
**/node_modules/
**/obj/
**/Output/
**/packages/
**/TestResult*
**/wwwroot/



